services:
  backend:
    build: ./server
    container_name: backend
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env
    restart: always

  frontend:
    build: ./client./my-react-app
    container_name: frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    restart: always
